<footer>
  <div class="main-wrapper">
    <div class="footer">
      <div>
        <ul>
          <li>
            <h4>About Vaph</h4>
          </li>
          
          <li>
            <a href="">
              Contact Us
            </a>
          </li>
          
        </ul>
      </div>

      <div>
        <ul>
          <li>
            <h4>Terms & Conditions</h4>
          </li>
         
          <li><a href="">
            Privacy Policy
          </a>
          </li>
          <li><a href="">
            Returns Policy
          </a>
          </li>
        </ul>
      </div>
        <div class="copyright">
          <p>© 2017 Vaph Clothing</p>
        </div>
    </div>
  </div>
</footer>
